{% extends "layout/base.html" %}

{% block nav-left %}
	<ul class="nav navbar-nav" xmlns="http://www.w3.org/1999/html">
		<li><a href="/chat/">首页</a></li>
		<li class="active"><a href="#">聊天室</a></li>
	</ul>
{% endblock %}

{% block content %}
	<div class="page-header">
	<h3>当前房间: {{ roomObj.roomname }}</h3>
	</div>
	<div class="row">
		<div style="width: 600px;height: 500px;border: 1px solid #000000;float: left;overflow: auto;" id="chatting"></div>
		<div style="width: 200px;height: 500px;border: 1px solid #000000;float: left;margin-left: 30px;">
			<div style="border-bottom: 1px solid #000000;"><h4>在线列表:</h4></div>
			<ul id="onlinelist" class="list-group" style="overflow: auto;height: 458px;">
			</ul>
		</div>
	</div>
		<textarea id="msg" style="border: 1px solid #000000;resize: none;margin-top: 20px;margin-left: -15px;width: 550px;height: 80px;"></textarea>
		<button id="sendmsg" class="btn btn-success" style="width: 50px;height: 80px; margin-top: -71px;margin-left: -5px;font-size: 20px;border-radius: 0">发<br>送</button>
{% endblock %}

{% block js %}
	<script>

		// using jQuery
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		// 时间格式
		Date.prototype.Format = function (fmt) { //author: meizz
			var o = {
				"M+": this.getMonth() + 1, //月份
				"d+": this.getDate(), //日
				"h+": this.getHours(), //小时
				"m+": this.getMinutes(), //分
				"s+": this.getSeconds(), //秒
				"q+": Math.floor((this.getMonth() + 3) / 3), //季度
				"S": this.getMilliseconds() //毫秒
			};
			if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
			for (var k in o)
			if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
			return fmt;
		};

		function sendmsg(){
			var sendTime = new Date().Format("yyyy-MM-dd hh:mm:ss");
			var msg = $('#msg').val();
			var name = '{{ user.username }}';
			var content = "<span style='color: green'>"+name+"&nbsp;"+sendTime+"</span><br><span>"+"&nbsp;"+msg+"</span></br>";
			$('#msg').val("");
			$('#chatting').append(content);
			var height = document.getElementById("chatting").scrollHeight;
			$("#chatting").scrollTop(height);
			var roomid={{ roomObj.id }};
			var data={roomid:roomid, content:content};
			syncrequest('/chat/putmsg/', data, 'POST', null)
		}

		$("#sendmsg").click(function(){
			sendmsg()
		});
		$("#msg").keyup(function(event){
			if(event.keyCode == 13){
				sendmsg();
			}
		});

		function syncrequest(url,data,type,func){
				$.ajax({
					url:url,
					data:data,
					type:type,
					success:func
				})
			}

		function updatechatting(arg){
			var data = $.parseJSON(arg);
			$("#chatting").empty();
			$.each(data, function(k,v){
				$("#chatting").append(v)
			})
		}

		setInterval(function () {
			var roomid={{ roomObj.id }};
			var userid={{ user.id }};
			var data = {roomid: roomid, userid: userid};
			syncrequest('/chat/getmsg/',data,'get',updatechatting);
			syncrequest('/chat/onlinelist/',data,'get',updateonlinelist);
		},1000);


		window.onbeforeunload = onbeforeunload_handler;

		function onbeforeunload_handler(){
			var warning = '退出房间?';
			console.log('success');
			var roomid={{ roomObj.id }};
			var userid={{ user.id }};
			var data = {roomid: roomid, userid: userid};
			syncrequest('/chat/exitchat/', data,'post',null);
			return warning
		}

		function updateonlinelist(arg){
			var data = $.parseJSON(arg);
			$("#onlinelist").empty();
			$.each(data, function(k,v){
				var content = '<li class="list-group-item">'+ v + '</li>';
				$("#onlinelist").append(content)
			});
		}

	</script>

{% endblock %}